<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>IPBOX</title>
</head>
<body>
    <header></header>
    <div id="main">
          <form name="frmConvert" action="">
            File: 
            <input type="file" name="fileinput" onchange='pdfToText.openFile(event)' /> or
            <span id="drop_zone" ondrop="pdfToText.drop_handler(event);" ondragover="pdfToText.dragover_handler(event);" ondragend="pdfToText.dragend_handler(event);" style="border: 15px solid darkgray; text-align:center; vertical-align:middle;">
              <strong>drop file here</strong>
            </span>       
            </p>        
    
                  </p>		  
                    <p>Output:</p>
                    <p>
                    <textarea name="ed_output" rows="10" cols="87" style="width: 700px;"></textarea>				
                    <br>
                    <br>
                    <button type="button" name="btnCopyOutputToClipboard" id=""btnCopyOutputToClipboard" onclick="pdfToText.copyOutputToClipboard()">Copy output to clipboard</button>
                    </p>			    
                </form>
                <div id="qrcode"></div>
      </div>
      <noscript>You need to enable JavaScript to run this app.</noscript>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script type="text/javascript">
      new QRCode(document.getElementById("qrcode"), window.location.href);
    </script>
    <script src="scripts/pdfToHex.js"></script>
</body>
</html>